[flake8]
max-line-length = 100
ignore = E203, W503, E501, I100, I201, D200, D205, D401, F401, F541, F841, B007, B009, E126, E402
exclude =
    venv,
    .venv,
    __pycache__,
    .git,
    .mypy_cache,
    .pytest_cache,
    build,
    dist,
    *.egg-info,
    scripts/
per-file-ignores =
    __init__.py:F401
    scripts/*:D200,D205,D401,F541,E402
